body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", "Arial", sans-serif;
    color: #262626;
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
}

h3 {
    font-family: "Pacifico", "Times New Roman", serif;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

a {
    color: #EA580C;
}

.stats h1 {
    margin: 0;
}

#achievements h3 {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FED7AA;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-nav-account {
    display: flex;
    align-items: center;
    gap: 80px;
}

.account {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 80px 80px;
}

nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}

#header-headline {
    color: #EA580C;
    letter-spacing: -0.1rem;
}

#achievements {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #FFEDD5;
    padding: 80px 80px;
}

.stats {
    display: flex;
    gap: 70px;
}

.stat-card {
    text-align: center;
}